<!--<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />-->
<!-- <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Изменить</button>
<button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>-->
 <form class="example-form" (ngSubmit)="save()" [formGroup]="ed" *ngIf="movie$ | async as movie">
  <h1>Edit: {{movie.name}}</h1>
  <mat-card class="example-card col-sm-12">

    <mat-card-content>

     <div class="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="edit name movie" name="name" formControlName="name" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="edit description movie" name="description" formControlName="description" >
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="example-full-width">
          <input class="form-control" matInput placeholder="edit name releaseDate" formControlName="releaseDate" name="releaseDate" >
        </mat-form-field>
        </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Back</button>
      <button [type]="submit" mat-button >Save</button>
      <button class="btn btn-default" (click)="deleteMovie(movie.id)">delete</button>
    </mat-card-actions>
  </mat-card>
</form>
    



<!--шаблон для редактирования-->
<!--
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.company" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.price" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>
    -->
<!--шаблон для добавления-->
<!--
<ng-template #create>
  <div class="form-group">
    <label>Модель</label>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Производитель</label>
    <input type="text" [(ngModel)]="product.company" class="form-control" />
  </div>
  <div class="form-group">
    <label>Цена</label>
    <input type="text" [(ngModel)]="product.price" class="form-control" />
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
    -->
