
<!--<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />-->

          <!-- <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Изменить</button>
    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>-->
       
    
<div class="wrap_movie container-fluid">
  <div class="wrap_movies_items row">
    <h1>Список Фильмов</h1>
    <mat-card class="example-card col-sm-4" *ngFor="let m of movies">
      <mat-card-header>
        <mat-card-title>{{m.releaseDate}}</mat-card-title>
        <mat-card-subtitle>{{m.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{m.description.substring(0,100)}}...
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button *ngIf="isadmin" class="btn btn-default" (click)="deleteMovie(m.id)">delete</button>
        <a href="/detail-movie/{{m.id}}">Details</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
    
    

<!--шаблон для редактирования-->
<!--
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.company" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.price" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>
    -->
<!--шаблон для добавления-->
<!--
<ng-template #create>
  <div class="form-group">
    <label>Модель</label>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Производитель</label>
    <input type="text" [(ngModel)]="product.company" class="form-control" />
  </div>
  <div class="form-group">
    <label>Цена</label>
    <input type="text" [(ngModel)]="product.price" class="form-control" />
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
    -->
